version: "2"
services:
  redis:
    image: redis:5-alpine
    ports:
      - "6379:6379"
    command: ["redis-server", "--appendonly", "yes"]
    hostname: redis

  rabbit:
    image: rabbitmq:3.6-management
    ports:
      - "15672:15672"
